# Baked into the static bundle at build time (nuxt generate).
# Set this in Render's build environment if you want to point at a different Formspree form.
NUXT_PUBLIC_FORMSPREE_ENDPOINT=https://formspree.io/f/mblapwgy
